server:
  port: 8091

spring:
  application:
    name: zuul
  cloud:
    config:
      enable: false

eureka:
  client:
    serviceUrl:
      #ohne docker
      #      defaultZone: http://localhost:8761/eureka/
      #docker
      defaultZone: http://eureka:8761/eureka/
  instance:
    preferIpAddress: true
    leaseRenewalIntervalInSeconds: 5
    metadataMap:
      instanceId: "${spring.application.name}:${random.value}"
    status-page-url-path: /info
    health-check-url-path: /health
    #docker config
    hostname: eureka

zuul:
  ignored-services: '*' #hide all core and comp services by default
  sensitiveHeaders: Cookie,Set-Cookie
  routes:
    product:
      path: /product/**
      serviceId: product-service
      stripPrefix: false

    catalogue:
      path: /catalogue/**
      serviceId: catalogue-proxy
      stripPrefix: false

    category:
      path: /category/**
      serviceId: category-service
      stripPrefix: false

    account:
      path: /account/**
      serviceId: account-proxy
      stripPrefix: false

    user:
      path: /users/**
      serviceId: user-service
      stripPrefix: false

    role:
      path: /roles/**
      serviceId: role-service
      stripPrefix: false
  host:
    connect-timeout-millis: 50000
    socket-timeout-millis: 50000
